body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    padding-bottom: 50px;
}
.PageContent {
    margin-top: 100px;
}
.formsWidth {
    max-width: 500px;
}
.bg-steel {
    background-color: #235789;
}
.navbar-nav {
    font-size: 0.9em;
}
.navbar-brand {
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}
.navbar-nav > a > img {
    height: 1.3em;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    box-shadow: 0px 2px 0px 0px white;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}
.content-section {
    box-shadow: 4px 6px 20px 0px #235789;
    padding: 20px;
}
.pageContent {
    margin-top: 100px;
}
.searchForm {
    margin-left: 10px;
    margin-right: 10px;
}
.lastBooksContainer {
    margin: 0 auto;
}
.book_image {
    max-width: 150px;
    max-height: 150px;
}
.bookCard {
    padding: 10px 10px;
    text-align: center;
}
.cardBorder {
    min-height: 340px;
    padding-top: 15px;
    box-shadow: 3px 3px 10px 0px black;
}
.navUserImage {
    height: 40px;
    border-radius: 50%;
    width: 40px;
}

.bookDetailLeftSide {
    text-align: center;
}
.comment_text {
    font-style: italic;
    margin-left: 20px;
}
.bookDetailLeftSide .bookImage {
    max-width: 200px;
}
.bookImage {
    max-height: 300px;
}
/* PROFILE SITE STYLE */
.profile_buttons {
    margin-top: 10px;
}
#books {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#books td,
#books th {
    border: 1px solid #ddd;
    padding: 8px;
}

#books tr:nth-child(even) {
    background-color: #f2f2f2;
}

#books tr:hover {
    background-color: #ddd;
}

#books th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}
