{% extends "base.html" %}
{% block content %}
<p>
    <h5>Wyszukaj książkę</h5>
    <form class="searchForm" action="{% url 'search' %}" method=" GET">
        <div class="form-group row">
            <input class="form-control col-md-7" required="required" name="q" type="text" placeholder="Wpisz tytuł lub autora">
            <span class="col-md-1"></span>
            <button type="submit" class="btn btn-primary form-control col-md-2">Wyszukaj</button>
        </div>
    </form>
</p>
<hr class="my-4">
<h3>Najwyżej oceniane książki:</h3>
<div class="row lastBooksContainer">
    {% for book in top_3_books %}
    <div class="col-md-4 bookCard">
        <div class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.title }}</h5>
            <h6>{{ book.author }}</h6>
            {% if book.actual_rating %}
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"></span>
            {% endfor %} <br>
            {% else %}
            <h6>Brak ocen</h6>
            {% endif %}
            <a href="{% url 'bookDetail' slug=book.slug %}"><button class="btn btn-primary btn-xs">Szczegóły</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Najczęściej oceniane książki:</h3>
<div class="row lastBooksContainer">
    {% for book in most_reviews %}
    <div class="col-md-4 bookCard">
        <div class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.title }}</h5>
            <h6>{{ book.author }}</h6>
            {% if book.actual_rating %}
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"></span>
            {% endfor %} <br>
            {% else %}
            <h6>Brak ocen</h6>
            {% endif %}
            <a href="{% url 'bookDetail' slug=book.slug %}"><button class="btn btn-primary btn-xs">Szczegóły</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Najczęściej komentowane książki:</h3>
<div class="row lastBooksContainer">
    {% for book in most_comments %}
    <div class="col-md-4 bookCard">
        <div class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.title }}</h5>
            <h6>{{ book.author }}</h6>
            {% if book.actual_rating %}
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"></span>
            {% endfor %} <br>
            {% else %}
            <h6>Brak ocen</h6>
            {% endif %}
            <a href="{% url 'bookDetail' slug=book.slug %}"><button class="btn btn-primary btn-xs">Szczegóły</button></a>
        </div>
    </div>
    {% endfor %}
</div>
<h3>Ostatnio dodane książki:</h3>
<div class="row lastBooksContainer">
    {% for book in book_list %}
    <div class="col-md-4 bookCard">
        <div class="cardBorder">
            <img class="book_image" src="{{ book.image.url }}" alt="Book image">
            <h5>{{ book.title }}</h5>
            <h6>{{ book.author }}</h6>
            {% if book.actual_rating %}
            {% for rate in book.actual_rating %}
            <span class="fa fa-star checked"></span>
            {% endfor %} <br>
            {% else %}
            <h6>Brak ocen</h6>
            {% endif %}
            <a href="{% url 'bookDetail' slug=book.slug %}"><button class="btn btn-primary btn-xs">Szczegóły</button></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}